@use "../../styles/mixin";
@import "../../styles/responsive";

.container {
  @include mixin.flex_center;
  min-height: 8rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(230, 230, 230, 0.751);
  box-shadow: 0 0 5px rgb(230, 230, 230, 0.751);
}

.wrapper {
  width: 70rem;
  height: 100%;
  display: flex;
}

@media (max-width: $breakpoint_tablet) {
  .container {
    padding-top: 0rem;
    min-height: 3rem;
    align-items: center;
  }
  .wrapper {
    align-items: baseline;
  }
}

@media (max-width: $breakpoint_smallTablet) {
  .container {
  }
  .wrapper {
  }
}
