@use "../../styles/mixin";
@import "../../styles/responsive";

.container {
  @include mixin.flex_col_c_s();
  h1 {
    margin-bottom: 1.1rem;
  }
  p {
    line-height: 1.7rem;
  }
}

.feed {
  margin-top: 6.5rem;
}

.parag {
  h2 {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: $breakpoint_smallTablet) {
  .container {
    h1 {
      font-size: 2.2rem;
    }
    .parag {
      margin-bottom: 8rem;
    }
  }
}
