@import "../../styles/responsive";

.container {
  margin-bottom: 5rem;
  .importantNote {
    font-size: 0.7rem;
    color: #292929;
    p {
      margin-bottom: 1rem;
    }
  }
}
.productInfo {
  display: flex;
  flex-direction: row;
  .image {
    flex: 2;
  }
  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #292929;
    h1 {
      font-size: 3rem;
    }
    span {
      font-size: 2rem;
    }
    p {
      margin-top: 1rem;
      line-height: 1.5rem;
    }
  }
}

@media (max-width: $breakpoint_tablet) {
  .container {
    .importantNote {
      font-size: 0.6rem;
    }
  }
  .productInfo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    .image {
      width: 80%;
    }
    .info {
      h1 {
        font-size: 2rem;
      }
      span {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.7rem;
        line-height: 1rem;
        text-align: left;
      }
    }
  }
}
