.wrapper {
  padding-block: 2rem 2rem;
  padding-inline: 4rem 1rem;
  font-weight: 300;
  hr {
    border-color: rgba(255, 255, 255, 0.338);
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  margin: 0.3rem 0.3rem 0;
  button {
    cursor: pointer;
    font-size: 1.4rem;
    background-color: inherit;
    border: none;
  }
}
