@import "../../styles/responsive";

.burgerMenu {
  display: none;
  font-size: 1.4rem;
  color: #292929;
  background: inherit;
  border: none;
  justify-self: start;
  cursor: pointer;
}

@media (max-width: $breakpoint_tablet) {
  .burgerMenu {
    display: block;
  }
}
