@use "../../styles/mixin";
@import "../../styles/variables";

.container {
  @include mixin.flex_column;
  flex: 1;
  color: #292929;

  h2 {
    font-size: 36px;
    margin: 1rem 0 1rem;
  }

  .desc {
    margin-bottom: 2rem;
    p {
      font-size: 16px;
      margin: 0 0 1rem;
      line-height: 1.5rem;
    }
    span {
      font-size: 10px;
    }
  }
}

@media (max-width: $breakpoint_tablet) {
  .container {
    h2 {
      font-size: 28px;
    }
  }
}
