@use "../../styles/mixin";
@import "../../styles/responsive";

.container {
  width: 100%;
  @include mixin.flex_center;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 6rem;
}

.image {
  flex: 2;
  width: 100%;
}

@media (max-width: $breakpoint_tablet) {
  .container {
    flex-direction: column;
  }
}
