@use "../../styles/mixin";

.container {
  height: 8rem;
  // padding-top: 15px;
  @include mixin.flex_center;
  border-bottom: 1px solid rgba(230, 230, 230, 0.751);
  box-shadow: 0 0 5px rgb(230, 230, 230, 0.751);
}

.wrapper {
  width: 75%;
  display: flex;
}

.logo {
  @include mixin.flex_center;
  max-height: 100%;
  width: 100px;
  margin: 0 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  flex: 2;

  .nav_links {
    display: flex;
    justify-content: space-between;
    div {
      @include mixin.flex_center;
      gap: 2.5rem;
    }
  }

  .nav_menu {
    display: flex;
    gap: 2.5rem;
  }
}

.actions {
  padding-inline: 1rem;
}
