.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-size: 0.8rem;
  color: #292929;
  margin-bottom: 2rem;
}

.middle {
  margin-block: 2rem;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    color: #292929;
    font-size: 0.9rem;
  }
}

.bot {
  margin-block: 2rem;
  font-size: 0.8rem;
  color: #292929;
}
