@import "../../styles/responsive";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3.4rem;
    color: #292929;
    margin-bottom: 7rem;
  }
}

.banner {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin: 1rem 0 7rem;
  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.5rem;
    h2 {
      font-size: 3rem;
      color: #292929;
    }
  }
  .icon {
    display: flex;
    gap: 2rem;

    div {
      width: 110px;
    }
  }
}

.desc {
  margin-bottom: 10rem;
  h2 {
    font-size: 2rem;
    color: #292929;
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.7rem;
    a {
      color: rgb(44, 62, 223);
      text-decoration: underline;
    }
  }
}

@media (max-width: $breakpoint_smallTablet) {
  .container {
    h1 {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }
    .banner {
      flex-direction: column;
      h2 {
        font-size: 2rem;
      }
    }
    .desc {
      margin-bottom: 3rem;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}
