@import "../../styles/mixin";
@import "../../styles/responsive";

.container {
  @include flex_center;
  padding-top: 1rem;
}
.wrapper {
  max-width: 70rem;
  padding: 1rem;
}

.seperator {
  margin-block: 2.5rem;
}

// @media (max-width: $breakpoint_tablet) {
//   .bottom .social_media .right,
//   .seperator,
//   .bottom .legal_terms {
//     display: none;
//   }
// }
