@use "../../styles/mixin";
@import "../../styles/responsive";

.container {
  @include mixin.flex_center;
  margin: 0 3.2rem 0 0;
  z-index: 7;
}

.largeSize {
  width: 100px;
  cursor: pointer;
}

.mediumSize {
  width: 70px;
}

.smallSize {
  width: 30px;
}

@media (max-width: $breakpoint_tablet) {
  .container {
    margin-right: 1rem;
  }
  .largeSize {
    width: 45px;
  }
}
