@use "../../../styles/mixin";

.container {
  height: 8rem;
  // padding-top: 15px;
  @include mixin.flex_center;
  border-bottom: 1px solid rgba(230, 230, 230, 0.751);
  box-shadow: 0 0 5px rgb(230, 230, 230, 0.751);
  padding-top: 1rem;
}

.wrapper {
  width: 74rem;
  height: 100%;
  display: flex;
  background-color: red;
}

.logo {
  @include mixin.flex_center;
  max-height: 100%;
  width: 100px;
  margin: 0 3.5rem 0 0;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  flex: 1;

  .nav_links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    div {
      @include mixin.flex_center;
      gap: 2.5rem;
    }
  }

  .nav_menu {
    display: flex;
    gap: 2.5rem;
    font-size: 18px;
    padding-right: 1rem;
  }
}

.actions {
  padding-inline: 1rem;
}
