@mixin flex_center() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin footer_flex() {
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
}

@mixin flex_column() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
