@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin footer_flex {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  div {
    display: flex;
    gap: 2rem;
  }
}
