@use "./mixin";
@import "./variables";

.button {
  @include mixin.flex_center;
  height: 2.5rem;
  border-radius: 4px;
  padding: 8px 25px;
  font-size: 16px;
  font-family: Speedee, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  cursor: pointer;
  color: $fontColor;
}

.yellow {
  background-color: $buttonColor;
  border: none;
}

.transparent {
  background-color: transparent;
  border: 1px solid rgb(185, 182, 182);
  box-shadow: 0 1px 5px 0 rgb(221, 218, 218);
  padding: 1.5rem 25px;
}

.dropDown {
  @include mixin.flex_center;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;

  .arrow {
    transition: 0.5s;
  }

  .arrowUp {
    transform: rotate(180deg);
  }
}

.bold {
  font-weight: 900;
}

.normal {
  font-weight: 400;
}

.large {
  font-size: 18px;
}

.medium {
  font-size: 14px;
}
