@use "./mixin";

.container {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  flex: 1;
  font-family: Speede;
  color: rgb(41, 41, 41);

  .nav_links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    div {
      @include mixin.flex_center;
      gap: 2.5rem;
    }
    span {
      @include mixin.flex_center;
    }
  }

  .nav_menu {
    display: flex;
    gap: 1.5rem;
    font-size: 18px;
    padding-right: 1rem;
    span {
      @include mixin.flex_center;
    }
  }
}

.actions {
  padding-inline: 1rem;
}
