@use "./mixin";

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 0.5rem;
  flex: 1;
  color: rgb(41, 41, 41);
  margin-top: 0.2rem;

  .actions {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    div {
      @include mixin.flex_center;
      gap: 2.5rem;
    }
    span {
      @include mixin.flex_center;
    }
    .action {
      padding-inline: 1rem;
    }
  }

  .links {
    font-size: 18px;
    padding-right: 7rem;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      :first-child {
        border-bottom: none;
      }
      li {
        padding-bottom: 1rem;
        cursor: pointer;
      }
    }

    .active {
      border-bottom: 5px solid #d90007;
      font-weight: 700;
    }
  }
}
